:root {
--primary-font: Helvetica, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  color: #4c4f69;
}

body {
  background-color: #eff1f5	;
  min-height: 100vh;
}

main {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer {
  align-self: flex-end;
  position: relative;
  font-size:x-small;
  text-align: center;
  margin: 22% 24% 1% 24%;
}

.controls {
  border-radius: 5px;
  background-color:#ccd0da;
  font-size: 16px;
  padding: 2px 15px
}

button:hover {
    box-shadow: 0 0 1em rgba(210, 15, 57, 0.8);
}

#poster {
  float: left;
  margin-left: 5%;
  padding: 0.5em;
  border-radius: 20px;
}

#main-header {
  text-align: center;
}

#saved-videos-container {
  height: 326px;
  width: 226px;
  overflow-y: auto;
  float: right;
  margin-top: 6px;
  margin-right: 5%;
  background-color: #ccd0da;
  padding: 0.5em;
  border-radius: 20px;
}

#saved-videos-container > h2 {
  text-align: center;
}

#saved-videos-container > ul {
  text-align: center;
  padding: 1em;
}

#video > * {
  text-align: center;
}

#video-control-buttons {
  text-align: center;
}

#video-player {
  border-radius: 10px;
  height: 360px;
  width: 640px;
}
