:root {
  --primary-font: Helvetica, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  color: #4c4f69;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  background-color: #eff1f5;
  min-height: 100vh;
}

select {
  appearance: none;
  background: #ccd0da;
  border-radius: 5px;
}

button:hover {
  box-shadow: 0 0 1em rgba(210, 15, 57, 0.8);
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.footer-text {
  display: inline-block;
  font-size: 8pt;
  text-transform: capitalize;
  overflow: hidden;
  min-width: 500px;
  max-width: 550px;
  width: 50%;
}

.controls {
  border-radius: 5px;
  background-color: #ccd0da;
  font-size: 14px;
  padding: 2px 12px;
}

.controls#play {
  font-size: 13px;
}

.controls-side {
  border-radius: 5px;
  background-color: #dce0e8;
  font-size: 14px;
  padding: 2px 12px;
}

.img-saved-containers {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 150px;
  align-items: center;
}

.hotkey-tooltip {
  text-align: center;
  width: 85px;
  min-height: 20px;
  position: absolute;
  top: 20px;
  left: 0px;
  background-color: #ccd0da;
  color: #4c4f69;
  border-radius: 10px;
}

#hotkeys {
  position: absolute;
  font-size: 12px;
  float: left;
}

#clear-button {
  text-align: center;
  margin-top: 0%;
}

#poster {
  float: left;
  border-radius: 10px;
}

#main-header {
  position: relative;
  text-align: center;
}

#saved-videos-container {
  height: 340px;
  width: 227px;
  overflow-y: auto;
  float: right;
  background-color: #ccd0da;
  border-radius: 10px;
}

#saved-videos-container > h3 {
  text-align: center;
  padding: 0.5em;
}

#saved-videos-container > ul {
  text-align: center;
  padding: 0.5em;
}

#video > * {
  text-align: center;
}

#video-control-buttons {
  text-align: center;
}

#video-player {
  border-radius: 10px;
  height: 360px;
  width: 640px;
}
